@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-display: "Poppins", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
}

@theme static {
  --color-cobalt-50: #EFF4FE;
  --color-cobalt-100: #DCE6FD;
  --color-cobalt-200: #BFDBFE;
  --color-cobalt-300: #93C5FD;
  --color-cobalt-400: #1D4ED8;
  --color-cobalt-500: #1D4ED8;
  --color-cobalt-600: #1A46C2;
  --color-cobalt-700: #0D2D9F;
  --color-cobalt-800: #09238C;
  --color-cobalt-900: #0f2668;
  --color-cobalt-950: #020B3D;

  --color-copper-50: #FFF7ED;
  --color-copper-100: #FFEED4;
  --color-copper-200: #FED7AA;
  --color-copper-300: #FDBA74;
  --color-copper-400: #FB923C;
  --color-copper-500: #FB923C;
  --color-copper-600: #EF7A1B;
  --color-copper-700: #C45F12;
  --color-copper-800: #9A3412;
  --color-copper-900: #7C2D12;
  --color-copper-950: #431407;

  --color-obsidian-50: #FAFBFC;
  --color-obsidian-100: #F8FAFC;
  --color-obsidian-200: #F1F5F9;
  --color-obsidian-300: #E2E8F0;
  --color-obsidian-400: #CBD5E1;
  --color-obsidian-500: #94A3B8;
  --color-obsidian-600: #64748B;
  --color-obsidian-700: #475569;
  --color-obsidian-800: #334155;
  --color-obsidian-900: #1E293B;
  --color-obsidian-950: #0F172A;
}

@keyframes bounce-from-bottom {
  0%, 20%, 53%, 80%, 100% {
    transform: translateY(0);
  }
  40%, 43% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(-15px);
  }
  90% {
    transform: translateY(-4px);
  }
}

.animate-bounce-bottom {
  animation: bounce-from-bottom 1s infinite;
}
